$primary-color: #FFFFFF;
$secondary-color: #545454;
$tertiary-color: #333333;
$quaternary-color: #333333;
$quinary-color: #EA4FE7;
$senary-color: #BF35BC;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Neucha', cursive;